.horseLabel{
	display: block;
	font-weight: bold;
}

#horseSelector{
	width: 16%;
	display: inline-block;
 	vertical-align: middle;
}

#raceSelector{
	width: 16%;
	display: inline-block;
 	vertical-align: middle;
 	margin-bottom: 6px;
}

.button{
	margin-left: 10px;
}
